@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Dancing+Script&family=Hurricane&family=Parisienne&family=Shadows+Into+Light&family=Square+Peg&display=swap');
      :root {
  --sidebar-width: 300px;
  --toggler-size: 3rem;
}

* {
  padding: 0;
  margin: 0;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;*/
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html{
  background-color: #787586;
  color: white;
  font-family:  "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 4rem;
  min-width: 100vw;
  background: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 11111;
}

.main-navigation{
 display: flex;
 justify-content: flex-end;
 flex-wrap: nowrap;
 height: 50px;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 backdrop-filter: blur(3px) opacity(.7);
 z-index: 10;
 padding-right: 5px;
}

.main-navigation a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main-navigation a:hover{
  background-color: #e95846;
  color: #444;
  font-family: 'Shadows into light', cursive;
}

@media (max-width: 768px) {
  .main-navigation {
      display: none;
  }
  .sidebar {
    width: var(--sidebar-width);
    transform: translateX(calc(var(--sidebar-width) * -1));
    background-image: linear-gradient(to right bottom, #10100f, #2a2923, #464237, #665d4d, #897864, #897864, #897864, #897864, #665d4d, #464237, #2a2923, #10100f);
    background-size: 400% 400%;
    background-position: 90% 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: .5;
    transition: transform .6s, background-position 1s .6s;
    z-index: 1111;
  }

  .input-toggler:checked ~ .sidebar {
    opacity: .9;
    transform: translateX(0);
    background-position: 0 0;
  }

  .menu {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .menu__item{
    padding: 10px;
    margin: 10px;
  }

  .menu__link {
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 3rem;
    line-height: 5rem;
    padding: 10px;
  }

  .menu__link:hover,
  .menu__link:focus,
  .menu__link:active {
    color: #46A39A;
    font-family: 'Shadows into light', cursive;
  }

  .menu-toggler {
    display: block;
    width: var(--toggler-size);
    height: var(--toggler-size);
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 111111;
  }

  .menu-toggler__line {
    height: calc(var(--toggler-size) / 5);
    background: #dabe8e;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: transform, opacity;
    transition-duration: .5s, .25s;
    transition-delay: 0s, .5s;
    animation-name: slidein;
    animation-duration: .5s;
    animation-iteration-count:1;
    animation-timing-function: ease-out;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    transition-delay: .25s, 0s;
  }

  .menu-toggler__line:nth-child(2) {
    top: calc(var(--toggler-size) / 5 * 2);
  animation-duration: .6s;
  }

  .menu-toggler__line:nth-child(3) {
    top: calc(var(--toggler-size) / 5 * 4);
      animation-duration:.7s;
  }

  .input-toggler {
    display: none;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    background: #2E2B26;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
    transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
    opacity: 0;
  }

  .input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
    transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
  }

  @keyframes slidein {
    from {left: -200%; right:200%;}
    to {left: 0; right: 0;}
  }
}

@media (min-width: 768px){
  .sidebar{
    display: none;
  }
}
 /* main */
.content, .content div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9;
}

 /* home*/
#Home{
  /*background-image: linear-gradient(to bottom, #000, #4a432d, #000);*/
  width: 100vw;
  height: 100vh;
  margin-bottom: 60px;
}
#Home div{
  margin: 0 auto !important;
}
#helloimg{
  position: relative;
  top: 200px;
  margin: 0 auto;
  color: white;
}

#description{
  position: relative;
  top: 200px;
  margin: 0 auto;
  font-family: 'Square Peg', monospace;
  font-size: 150%;
}

@media screen and (max-width: 768px) {
  #helloimg {
    position: relative;
    top: 150px;
    margin-top: 50px;
    z-index: 1;
  }
  #description{
    position: relative;
    top: 150px;
    margin: 0 auto;
  }
  #Home div{
    height:250px;
 }
}

.kibeb{
  color: #800020;
  filter: contrast(150%);
  position; absolute;
  top: 30px;
  right: 70px;
  margin-left: 190px;
  display: flex;
  font-family:  'Parisienne', cursive;
}

.hello{
  font-family: 'Shadows into light', cursive;
  font-size: 200%;
  color: #800020;
  line-height: 70px;
  text-align: center;
  position: absolute;
  margin-bottom: 50px;
}
/* home*/

/*about*/

#About{
  background: /*#7B8675*/ #474e5d;
  width: 100vw;
  height: auto;
}
.column {
  float: center;
  width: 33.3%;
  margin-top: 0 !important;
  margin-bottom: 10px;
  padding: 0 8px;
  background-color: #474e5d;
}

.frame {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #7B8675;
  width: 500px !important;
}

.about-section {
  padding: 50px 50px 0 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin-top: 0 !important;
}
.about-section h1{
  	color: #e95846;
  	text-decoration: none;
    	font-family: 'Dancing Script', cursive;
    	letter-spacing: 5px;
    	font-size: 4em;
}
.about-section p{
    font-size: 200%;
    font-family: 'Square Peg', Roboto;
}
.about-section h2{
    text-align:center;
    color: #800000;
    font-family:'Shadows Into Light', cursive;
}

.row{
  margin-top: 0 !important;
}
.aboutfounder {
  padding: 0 16px;
  margin-top: 0 !important;
}
.aboutfounder h2{
    text-align:center;
    font-family: 'Square Peg', cursive;
}

.aboutfounder p{
  text-align: center;
  font-family: cursive;
}
.aboutfounder::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 8px;
	margin-bottom: 10px;
  	color: #e95846;
  	background-color: #000;
  	font-family:cursive;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
  	border-radius: 20px;
}

.button:hover {
  background-color: #023020;
}

@media screen and (max-width: 650px) {
  .frame{
    width: 300px !important;
  }
}
/*about*/

/*Product*/

#Product{
  	width: 800px;
  	padding-left: 100px;
  	padding-right: 100px;
  	padding-bottom: 100px;
  	background: #2e2a2a;
	color: #FFF;
	font-size: 62.5%;
  	border-radius: 0 0 10px 10px;
}

.pricing-table-title a {
	color: #e95846;
	text-decoration: none;
  	font-family: 'Dancing Script', cursive;
  	letter-spacing: 5px;
  	font-size: 1.5em;
}

.pricing-table-title {
  	font-family: 'Square Peg', cursive;
	font-weight: 700;
	font-size: 2.6em;
	color: #FFF;
	margin-top: 15px;
	text-align: left;
	margin-bottom: 25px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

@media screen and (max-width: 768px){
  #Product{
    width: 325px;
    padding: 0;
  }
 .pricing-table-title {
	 width: 250px;
	 font-size: 1.5em;
  }
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

.pricing-wrapper {
	width: 960px;
	margin: 40px auto 0;
}

.pricing-table {
	margin: 20px 10px;
	text-align: center;
	width: 300px;
	float: left;
	-webkit-box-shadow: 0 0 15px /*rgba(0,0,0,0.4)*/ #6e6e6e;
	box-shadow: 0 0 15px /*rgba(0,0,0,0.4)*/ #6e6e6e;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
  	border-radius: 5px;
}

.pricing-table:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}

.pricing-title {
	color: #FFF;
	background: #e95846;
	padding: 20px 0;
	font-size: 2em;
  width: 200px;
}

.price {
	background: transparent;
	color: #403d3a;
}

.price img {
  	width: 400px;
  	height: inherit;
	padding: 0;
}

@media screen and (max-width: 768px){
.price img {
  	width: 250px;
   }
}

.table-buy {
	background: transparent;
	padding: 15px;
	text-align: left;
	overflow: hidden;
}

.table-buy p {
	float: left;
	color: #fff;
	font-weight: 700;
	font-size: 2.4em;
  margin-bottom: 10px;
}

.table-buy p sup {
	font-size: 0.5em;
	position: relative;
	left: 5px;
}

.table-buy .pricing-action {
  	text-decoration: none;
  	font-family: 'Dancing Script', cursive;
  	letter-spacing: 5px;
 	font-size: .5em;
	float: right;
	color: #2e2a2a;
	background: #787586;
	padding: 18px 16px;
	border-radius: 20px;
	font-weight: 700;
	font-size: 1.4em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
	background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
	background: #228799;
}

 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	.pricing-wrapper {
 		width: 768px;
 	}
 }

 @media only screen and (max-width: 767px) {
 	.pricing-wrapper {
 		width: 300px;
 	}

 	.pricing-table {
 		display: block;
 		float: none;
 		margin: 20px;
 		width: 90% !important;
 	}
 }

@media only screen and (max-width: 479px) {
	.pricing-wrapper {
		width: 300px;
	}
}
/*product*/

/*contact*/
#Contact{
    	height: auto;
    	display: flex;
    	align-items: center;
	margin-top: 150px;
}

.container{
    	padding: 10px;
	width: 600px !important;
}

@media only screen and (max-width: 768px) {
    #Contact{
            align-content: center;
            flex-direction: column !important;
            width: 300px;
	    margin-top: 0;
    }
    .container{
	width: 100% !important;
    }
}

.container h1{
  padding-top: 0;
  padding-bottom: 40px;
  font-family: 'Square Peg', cursive;
  letter-spacing: 5px;
  font-size: 4rem;
}
hr{
    width: 80%;
}
.container  h2{
    padding-top: 40px;
    padding-bottom: 0;
    font-size: 20px;
    color: black;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: #2e2a2a;
    filter: contrast(200%);
}
.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    	font-size: 32px;
    	color: #e95846;
    	transition: .3s linear;
    	padding: 25px;
    	text-align: center;	
	animation: blinker 2s ease infinite;
}
@keyframes blinker {
  50% {
    opacity: .4;
  }
}

.card:hover .icon{
    transform: scale(2);
    opacity: 0;
}
.card-content{
  	width: 100% !important;
  	height: auto;
	margin: 20px;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.card-content span:hover{
  color: cyan;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:768px){
    .card{
        flex: 100%;
        max-width: 250px;
    }
}

/*contact*/

/*footer*/

footer{
  background: #A3464F;
  width: 100vw;
  height: 60px;
  padding: 20px 0;
  overflow: hidden;
  font-family: 'Shadows into light', cursive;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
  bottom: 0px;
}

.footerlinks a{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

.footerlinks a:hover{
  color: #46A39A;
}
/*footer*/
